body{
	font-family: candara;
}
header{
	background-color: #dad0c4;
	width: 100%;
	height: 120px;
	text-align: center;
}
h1.header{
	color: #420038;
}
navi{
	width: 30%;
  	height: 30px;
  	background: #dad0c4;
}
sidebar{
	float: left;
	width: 20%;
	background: #dad0c4;
	padding: 15px;
	height: 300px;
	font-size: 20px;
}
p.sidebar{
	background: #ece8e2;
}
article{
	float: center;
  	padding: 20px;
  	width: 100%;
  	background-color: whitesmoke;
  	height: 300px;
}
img.foto{
	display: block;
	width: 7%;
	height: 36%;
	margin-left: auto;
	margin-right: auto;
}
footer{
	background-color: #777;
  	padding: 10px;
  	text-align: center;
  	color: white;
}
